<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Reset Password</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href='https://fonts.googleapis.com/css?family=Amethysta'
	rel='stylesheet'>
<link rel="stylesheet" href="css/style.css">
</head>

<body>
	<header th:insert="fragment.html :: header"> </header>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-11 col-md-6">
				<h1 align="center">Let's reset your password</h1>
					<form  th:object="${user}" th:action="@{/resetPass}" method="post">
					<div class="form-group">
					<div class="form-group" style="display:none">
						 <input type="email"
							class="form-control" th:field="*{email}" >
					</div>
					<p th:text="${codeCorrect}" align="center" style="color: green" />
						<label>New Password</label> <input type="password"
							class="form-control" th:field="*{password}" required>
					</div>
					<div align="center" th:if="${codeCorrect}">
						<button type="submit" class="btn btn-primary">Reset</button>
					</div>
					</form>
			</div>
		</div>
	</div>
</body>
</html>